.login-pass-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}

.login-pass-wrapper-i {
  position: absolute;
  top: 25%;
  right: 8%;
}
.login-pass-wrapper-i:hover {
  color: #00fcb6;
  cursor: pointer;
}
